h6 {
    margin: 0;
}

td {
    text-align: left;
    font-size: 8pt;
    color: white;
    line-height: 2em;
}

.MMM-ServiceViewer td {
    background-color: #000000;
    border: 0;
}

.MMM-ServiceViewer td:hover {
    background-color: #a86d04;
}

tr {
    cursor: pointer !important;
}

.bottom-border {
    border-bottom: 1px solid #666;
    display: block;
}

.MMM-ServiceViewer {
    cursor: initial;
}