h6 {
    margin: 0;
}

td {
    text-align: left;
    font-size: 8pt;
    color: white;
    line-height: 2em;
}

tr {
    cursor: pointer !important;
}

.bottom-border {
    border-bottom: 1px solid #666;
    display: block;
}

.MMM-ServiceViewer {
    cursor: initial;
}